{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    تغییر گذرواژه
{% endblock %}


{% block main %}
    <div class="card-body">
			<form method="post">{% csrf_token %}
				<div class="row">
					<div class="col-6">
						{{ form.new_password1|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.new_password2|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.old_password|as_crispy_field }}
					</div>
                </div>
                <button class="btn btn-danger">تغییر گذرواژه</button>
            </form>
	</div>

{% endblock %}