{% extends 'WebSite/base.html' %}
{% load static %}
{% block Header %}
            <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'base/assets/img/1049945.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>خانه</h1>
                            <span class="subheading">↓</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block Main %}
<center style="margin-bottom: 30px">ببینید | ویدیویی عجیب از عظمت جهان که ناسا منتشر کرد</center>
<center>
    <iframe width="550" height="315" src="https://www.youtube.com/embed/2gp0sc-0ncI" title="YouTube video player" frameborder="0" allow="accelerometer;
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="border: rgba(204,6,0,0.7) 5px solid" allowfullscreen></iframe>
</center>
{% endblock %}